[submodule "robot-motion-reference"]
	path = robot-motion-reference
	url = https://github.com/AsterisCrack/robot-motion-reference.git

[submodule "torch-rl-algorithms"]
	path = torch-rl-algorithms
	url = https://github.com/AsterisCrack/torch-rl-algorithms.git
